

<app-sidebar></app-sidebar>
<section class="content">
  <div class="body_scroll">
      <div class="block-header">
          <div class="row">
              <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Sprint</h2>
                    <br>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a><i class="zmdi zmdi-home"></i> Admin</a></li>
                      <li class="breadcrumb-item active">Sprints List</li>
                  </ul>
                  <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-12">                
      <button mat-fab color="primary"class="add-button"(click)="OpenDialogAdd()" aria-label="Example icon button with a delete icon">
        <mat-icon  class="icon">add</mat-icon>
      </button>
              </div>
          </div>
      </div>
      <br>
      <br>

      <div class="container-fluid">
          <div class="row clearfix">
              <div class="col-lg-12">
                  <div class="card">
                    
                      <div class="table-responsive"*ngFor="let project of projects">
                        <br>
                        <ul class="breadcrumb">
                          <li class="breadcrumb-item">Sprints {{ project.projectName }}</li>
                        </ul>
                        <table class="table table-hover product_item_list c_table theme-color mb-0">
                              <thead>
                                  <tr>
                                      <th style="color: #555;">Sprint Name</th>
                                      <th style="color: #555;">Start Date</th>
                                      <th style="color: #555;">End Date</th>
                                      <th style="color: #555;">Project Name</th>

                                      <th  style="color: #555;" data-breakpoints="sm xs md">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngIf="project.sprints && project.sprints.length > 0; else noDataTemplate">

                                  <tr *ngFor="let sprint of project.sprints">
                                    
                                      <td><span class="text-muted">{{ sprint.sprintName }}</span></td>
                                      <td><span class="text-muted">{{ sprint.startDate| date: 'shortDate'  }}</span></td>
                                      <td><span class="text-muted">{{ sprint.endDate | date: 'shortDate' }}</span></td>
                                      <td><span class="text-muted">{{ sprint.projectName }}</span></td>


                                      <td>
                                        <a (click)="OpenDialogDetail(sprint.projectId ,sprint.id)"class="btn btn-default waves-effect waves-float btn-sm waves-green"><i class="zmdi zmdi-info"></i></a>
                                        <a (click)="openEditDailog(sprint)"class="btn btn-default waves-effect waves-float btn-sm waves-green"><i class="zmdi zmdi-edit"></i></a>
                                        <a (click)="openDeleteDialog(sprint.projectId ,sprint.id)" class="btn btn-default waves-effect waves-float btn-sm waves-red"><i class="zmdi zmdi-delete"></i></a>
                                      </td>
                                  
                                  </tr>
                                </ng-container>
                                <ng-template #noDataTemplate>
                                  <tr>
                                    <td colspan="7">
                                      <p class="text-danger">No data available</p>
                                    </td>
                                  </tr>
                                </ng-template>
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card">
                      <div >                            
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
  <ng-template #callCreateDialog>
    <div class="mat-dialog-container">
      <div class="dialog-header">
        <h2>Add Sprint</h2>
      </div>
      <form class="example-container" [formGroup]="form">
       
            <mat-form-field appearance="outline">
            <mat-label>Enter Sprint Name</mat-label>
            <textarea matInput type="text" placeholder="Enter sprint Name" formControlName="sprintName"></textarea>
            <mat-error *ngIf="form.get('projectName')?.hasError('required')">sprint name is required</mat-error>
            </mat-form-field>

      
              <mat-form-field>
                <mat-label>Period</mat-label>
                <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                  <input matStartDate formControlName="startDate" placeholder="Start date">
                  <input matEndDate formControlName="endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
              
            <mat-form-field>
                <mat-label>Select Project</mat-label>
              <mat-select formControlName="projectId" required>
              <mat-option *ngFor="let project of projects" [value]="project.id">
                {{ project.projectName }}
              </mat-option>
              </mat-select>
              
            </mat-form-field>
         
    
        <div class="dialog-footer">
          <button mat-raised-button color="primary" (click)="add()" [disabled]="!form.valid">Add</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #callDeleteDailog>
    <div style="padding:15px">
<h2>Are you sure you want to delete this sprint?</h2>
<button class="btn btn-primary m-1"   mat-dialog-close="yes">Yes</button>
<button class="btn btn-danger m-1"  mat-dialog-close="no">No</button> 
</div>
</ng-template>  
      


<ng-template #callDetailDailog>
  <div class="mat-dialog-container">
  <div class="dialog-header">
  <h2>Sprint Detail</h2>
  </div>
  
  

  <div *ngIf="sprint">
    <p><strong>Sprint Name:</strong> {{ sprint.sprintName }}</p>
    <p><strong>Start Date :</strong> {{ sprint.startDate| date: 'shortDate'  }}</p>
    <p><strong>End Date:</strong> {{ sprint.endDate | date: 'shortDate' }}</p>
    <p><strong>Project Name:</strong> {{ sprint.projectName }}</p>

  
  </div>
  </div>
</ng-template>

<ng-template #callEditDailog>
<div class="mat-dialog-container">
<div class="dialog-header">
<h2>Edit Sprint</h2>
</div>
<form class="example-container" [formGroup]="edit">

  
    <mat-form-field appearance="outline">
        <mat-label>Enter Sprint Name</mat-label>
        <textarea matInput type="text" placeholder="Enter sprint Name" formControlName="sprintName"></textarea>
        <mat-error *ngIf="edit.get('projectName')?.hasError('required')">sprint name is required</mat-error>
        </mat-form-field>
        
<div class="dialog-footer">
<button mat-raised-button color="primary"  mat-dialog-close="yes" >Edit</button>
</div>
</form>
</div>
</ng-template>