
<aside id="leftsidebar" class="sidebar">

    <div class="menu">
      <ul class="list">
   
        <li>
            <a routerLink="/admin"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
        
        </li>
       <!-- 
        <li>
          <a routerLink="/admin/Roles"><span>Roles</span></a>
  
        </li>
        <li>
            <a routerLink="/admin/Users-Logins"><span>Users Logins</span></a>
    
        </li>
        -->   
       
        <li>
            <a routerLink="/admin/Employees"><span>Employees</span></a>
    
        </li>
        <li>
            <a routerLink="/admin/Departments"><span>Departments</span></a>
    
        </li>
           
    </ul>
    </div>
  </aside>
