
<aside id="leftsidebar" class="sidebar">

    <div class="menu">
      <ul class="list">
   
        <li>
            <a routerLink="/admin"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
        
        </li>
       <!-- 
        <li>
          <a routerLink="/admin/Roles"><span>Roles</span></a>
  
        </li>
        <li>
            <a routerLink="/admin/Users-Logins"><span>Users Logins</span></a>
    
        </li>
        -->   
       
        <li>
            <a routerLink="/admin/Projrcts"><span>Projrcts</span></a>
    
        </li>
        <li>
            <a routerLink="/admin/Sprints"><span>Sprints</span></a>
    
        </li>
        <li>
          <a routerLink="/admin/Sprint-Tasks"><span>Sprint Tasks</span></a>
  
        </li>

        <li>
          <a routerLink="/admin/Developers"><span>Developers</span></a>
  
        </li>
    </ul>
    </div>
  </aside>
  <div class="navbar-right">
    <ul class="navbar-nav">
     <!-- <li><a h class="main_search" (click)="OpenDialogSearch()"title="Search..."><i class="zmdi zmdi-search"></i></a></li>
        
        <li><a routerLink="/admin/profile"  title="Account"><i class="zmdi zmdi-account-circle"></i></a></li>    -->   
       
        <li><a (click)="logout()" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>