

  

  <div class="container login">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card  shadow border-0">
         
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h3> SING UP </h3>
            </div>
           
            <form class="card auth_form"[formGroup]="registerForm">
            
              <div class="body">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="First Name"formControlName="firstName"></div>
                      <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)" class="error-message">
                        <div *ngIf="registerForm.get('firstName')?.errors?.['required'] as requiredError"class="text-danger">
                           first name is required
                      </div>
                  </div>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Last Name"formControlName="lastName">
                     
                    </div> 
                    <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)" class="error-message">
                      <div *ngIf="registerForm.get('lastName')?.errors?.['required'] as requiredError"class="text-danger">
                         last name is required
                    </div>            
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="User Name"formControlName="userName">
                 
                  </div>
                  <div *ngIf="usernameAlreadyExists" class="text-danger">
                    username already exists
                  </div>
                  <div *ngIf="registerForm.get('userName')?.invalid && (registerForm.get('userName')?.dirty || registerForm.get('userName')?.touched)" class="error-message">
                    <div *ngIf="registerForm.get('userName')?.errors?.['required'] as requiredError"class="text-danger">
                       user name is required
                  </div>  
                 
                 </div>
                 <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email"formControlName="email">
                </div>
                <div *ngIf="emailAlreadyExists" class="text-danger">
                  email already exists
                </div>
                <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                class="error-message">
                <div *ngIf="registerForm.get('email')?.errors?.['required'] as requiredError"class="text-danger">
                    email is required
              </div> 
            
              <mat-error *ngIf="registerForm.get('email')?.hasError('pattern')">Invalid email format</mat-error>
            
                 </div>

               
                <div *ngIf="registerForm.get('city')?.invalid && (registerForm.get('city')?.dirty || registerForm.get('city')?.touched)"
                class="error-message">
                <div *ngIf="registerForm.get('city')?.errors?.['required'] as requiredError"class="text-danger">
                    city is required
              </div>                
                 </div>
                 <div class="input-group mb-3">
                <input type="password" class="form-control"(blur)="matchError()" placeholder="Password"formControlName="password">
                         
                 </div>
                 <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                 class="error-message">
                 <div *ngIf="registerForm.get('password')?.errors?.['required'] as requiredError"class="text-danger">
                     passsword is required
                 </div>
                 <div *ngIf="registerForm.get('password')?.errors?.['minlength'] as minlengthError"class="text-danger">
                     Password should be mor than 8 digit.
                 </div>
                 </div> 
                 <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Repeat Password"(blur)="matchError()"formControlName="repeatPassword">
                               
                   </div>
                   <div *ngIf="registerForm.get('repeatPassword')?.invalid && (registerForm.get('repeatPassword')?.dirty || registerForm.get('repeatPassword')?.touched)"
                   class="error-message">
                   <div *ngIf="registerForm.get('repeatPassword')?.errors?.['required'] as requiredError"class="text-danger">
                       Repeat Password is required
                   </div>
                   <div *ngIf="registerForm.get('repeatPassword')?.errors?.['minlength'] as minlengthError"class="text-danger">
                       Repeat Password should be mor than 8 digit.
                   </div>
             
                   <div *ngIf="registerForm.get('repeatPassword')?.hasError('misMatch')"
                   class="error-message"class="text-danger">Passwords do not match</div>
                   </div>
               
                  <button   type="submit"   (click)="register()"[disabled]="!registerForm.valid"class="btn btn-primary btn-block waves-effect waves-light"style="color:#fff">SIGN UP</button>                        
                  
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <a (click)="toLogin()" class="link">
                    Do you have an account?
                 </a>
                </div>
               
              </div>
          </form>
         
          </div>
        </div>
       
      </div>
    </div>
  </div>
   