.edit{
    position: relative;
    top: -145px;
    right: 58px;
    border-radius: 50px;
}
.rounded-circle {
    border-radius: 50%!important;
    width: 180px;
    height: 180px;
    border: 1px solid transparent;

}
.password{
    position: relative;
    left: 437px;
    top: -232px;
}


   .avatar-edit input {
    display: none;
  }
.avatar-edit input + label {
    display: inline-block;
    width: 40px;
    height: 40px;

    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
 
.passwordForm{
    position: relative;
    left: 89px;
}
.infoForm{
    position: relative;
    left: 73px;
}
.content{
    border: none;
    background-color: none;
    box-shadow: none;
  }
  .card{
    
 background-color: 
 #f5f5f5;
}

.developer{
    position: absolute;
    left: 456px;
    top: 274px;
}


.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-dialog-container {
      padding: 24px;
      width: 400px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      border-radius: 8px;
    }
  
    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
  
    .dialog-header h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #333333;
    }
  
    .example-container {
      width: 100%;
    }
  
    .mat-form-field {
      width: 50%;
      margin-bottom: 1px;
    }
  
  
  .form-field-spacer {
    margin-bottom: 10px;
  }
  
  .example-full-width {
    width:50%;
  }
  
  
  .edit-button {
    background-color: rgb(81 89 81);
    position: fixed;
    left: 644px;
    top: 144px;
    width: 46px;
    height: 46px;
  }